.navDiv {
  background-color: rgb(35, 35, 45);
  background-color: var(--lightBlack);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.navDiv nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3.5rem;
  white-space: nowrap;
  align-items: center;
}

.anchorNav {
  color: rgba(255, 255, 255, 0.7);
}

.anchorNav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

.anchorNav:hover {
  color: white;
  transition: 0.1s ease-in-out;
}

.logoNav img{
  height: 1.5rem;
  width: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .anchorNav {
    padding: 0.5rem 0.5rem;
  }
  .logoNav img{
    height: 1rem;
  }
  .navDiv nav {
    height: 2rem;
  }
  .navDiv nav a {
    font-size: 0.8rem;
  }
}
