h1.major,
h2.major,
h3.major {
  border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

html,
body,
div,
ul,
li {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #ffffff;
  text-align: center;
  min-width: 300px;
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)),
    url(../../images/codingBackground.jpg);
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
}
