* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
#root,
.App {
  width: 100%;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style: none;
}

body {
  color: #ffffff;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.15rem;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
