* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --white: #ffffff;
  --green: rgb(50, 120, 120);
  --lightBlack: #333333;
  --black: #222222;
  --hoverButtons: rgba(0, 0, 0, 0.4);
  --orange: #e17100;
}

html,
body,
#root,
.App {
  width: 100%;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  list-style: none;
}

body {
  color: #ffffff;
  color: var(--white);
  text-align: center;
}

body:after {
  display: none;
}

h1,
h2,
h3 {
  margin: 0 auto;
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App .contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App .contentWrapper > * {
  padding-left: 5%;
  padding-right: 5%;
}

.intro *::selection {
  background-color: rgba(225, 113, 0, 0.3);
  color: #ffffff;
  color: var(--white);
}

.footer *::selection {
  background-color: rgba(225, 113, 0, 0.3);
  color: #ffffff;
  color: var(--white);
}

.skills *::selection {
  background-color: rgba(225, 113, 0, 0.3);
}

.gridWrapper *::selection {
  background-color: rgba(50, 120, 120, 0.3);
}

a {
  color: #ffffff;
  color: var(--white);
  text-decoration: none;
}

p {
  text-align: justify;
}
