.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: rgb(35, 35, 45);
  background-color: var(--lightBlack);
}

.footer > p {
  margin-top: 2.5rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.footer > h2 {
  padding: 2rem 0 1rem 0;
}

form > .fields {
  display: flex;
  flex-wrap: wrap;
}

form > .fields > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 1rem;
}

form > .fields > div > label {
  text-align: left;
  display: flex;
  flex-direction: column;
}

form > .fields > div > label > *{
  margin-top: 0.3rem;
}

form > .fields > .textDiv {
  width: 100%;
}

ul.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

ul.contact li {
  font-size: 1.4rem;
  margin: 1rem;
}

input[type="submit"] {
  outline: none;
  transition: 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
  color: #ffffff;
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
  padding: 0 1rem;
  text-align: center;
  margin-top: 1rem;
}

input[type="submit"]:focus {
  box-shadow: inset 0 0 0 2px rgb(50, 120, 120);
  box-shadow: inset 0 0 0 2px var(--green);
}

/*Next lines used to avoid Chrome from changing colors when autocompleting*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--white) !important;
}
/****************************************************************************/

input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.025);
  border-radius: 5px;
  border: none;
  border: solid 2px rgba(255, 255, 255, 0.125);
  color: inherit;
  outline: 0;
  text-decoration: none;
  line-height: 1.5rem;
  padding: 10px;
  overflow: auto; /* Removes scrollbar in IE */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: rgb(50, 120, 120);
  border-color: var(--green);
}

.footer i {
  font-size: 1.4rem;
}

.contact a{
  color: rgba(255, 255, 255, 0.7);
}

.contact a:hover {
  color: #e17100;
  color: var(--orange);
  transition: 0.2s;
}

.fields label {
  margin-bottom: 0.3rem;
}

.contact li a p {
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

@media only screen and (max-width: 767px) {
  .footer > h2 {
    font-size: 1.6rem;
  }

  .footer > p {
    margin-top: 2rem;
    text-align: center;
  }

  .contact li a p {
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
}
