.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  min-height: calc(100vh - 3.5rem);
  box-sizing: border-box;
  background-color: rgb(35, 35, 45);
  background-color: var(--lightBlack);
}

.intro span {
  font-family: inherit;
}

.intro span.name {
  color: rgb(50, 120, 120);
  color: var(--green);
}

.intro span.surname {
  color: #e17100;
  color: var(--orange);
}

.introSentence {
  display: flex;
}

.personalLogo {
  min-height: 12rem;
  min-width: 12rem;
  margin-left: 3rem;
  animation: opac 4s, transl 4s;
}

.intro p {
  min-width: 12rem;
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.8rem;
  color: rgba(255, 255, 255, 0.7);
  max-width: 40rem;
  animation: opac 4s, transl 4s;
}

.introDescription {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.intro h1 {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  font-family: "Adriane Text", serif;
  animation: opac 4s, transl 4s;
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transl {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*Mobile Phones*/
@media only screen and (max-width: 767px) {
  .intro h1 {
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
  }
  
  .personalLogo {
    min-height: 4rem;
    min-width: 4rem;
    margin-top: 0;
    margin-left: 0;
  }

  .intro {
    padding-bottom: 1.5rem;
    padding-top: 0;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .introDescription {
    max-width: 80%;
  }

  .intro p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .intro {
    min-height: calc(100vh - 2rem);
  }
}

/*Mobile Phones Landscape*/
@media only screen and (max-width: 767px) and (orientation: Landscape) {
  .intro {
    flex-direction: row;
  }
  .introDescription {
    max-width: 60%;
  }
  .personalLogo {
    margin-left: 0;
  }
}

/*Tablets Portrait and Landscape*/
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .introDescription {
    max-width: 60%;
  }
  .personalLogo {
    margin-left: 0;
  }
}
