.navDiv {
  background-color: var(--lightBlack);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.navDiv nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3.5rem;
}

.anchorNav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

.anchorNav:hover {
  color: var(--orange);
  transition: 0.2s ease-in-out;
}
