.navDiv {
  background-color: rgba(20, 20, 20);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.navDiv nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.anchorNav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem; 
}

.anchorNav:hover {
  background-color: darkslategrey;
  transition: 0.2s ease-in-out;
}
