.projectsContainer {
  background-color: #2e3141;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e3141;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  width: 100%;
}

.projects article {
  background-color: #353849;
  border-radius: 5px;
}

.projects article .image {
  border-radius: 5px 5px 0 0;
}

.projects article .image img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.App .contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
  background-color: rgb(16,16,16);
}

.App .contentWrapper > * {
  width: 100%;
}

.projectsContainer > * {
  padding: 5rem 0;
  width: 100%;
  box-sizing: border-box;
}
