.gridWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkslategrey;
  padding: 0 6rem;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects article {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem 0;
}

.projects article .projectInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.projectInfo > * {
  line-height: 2.5rem;
  text-align: left;
}

.projectInfo h3 {
  margin: 0;
}

.projects article img {
  border-radius: 5px;
  width: 100%;
  min-width: 10rem;
  max-width: 25rem;
  margin-right: 2rem;
}

.projectsContainer > * {
  padding: 5rem 0;
  box-sizing: border-box;
}

.gridWrapper h2 {
  font-size: 2rem;
  padding: 2rem 0;
}

.gridWrapper h3 {
  font-size: 1.5rem;
}

.appRepoButtons > li > a {
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid white;
}

.appRepoButtons > li {
  margin: 0 1rem 1rem 0;
}

.appRepoButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0;
  line-height: 2rem;
}

.appRepoButtons > li > a:hover {
  background-color: #002b26;
}

.technologies > li {
  background-color: rgb(20,20,20);
  font-size: 1rem;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
}
