.gridWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-color: var(--white);
  padding-bottom: 10rem;
  padding-top: 10rem;
  background-color: rgba(225, 113, 0, 0.05);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show {
  animation: showX 1s;
}

.hide {
  transition: opacity 1s;
  opacity: 0;
}

@keyframes opaci {
  to {
    opacity: 0;
  }
}

.projects article {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 3rem 0;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.projects article .image {
  width: 20rem;
  height: 10rem;
  margin-right: 6rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.projects article .projectInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projectInfo > * {
  line-height: 2.5rem;
  text-align: left;
  color: rgb(20,20,20);
  color: var(--black);
}

.projectInfo h3 {
  margin: 0;
  margin-bottom: 1rem;
}

.projectInfo p {
  font-size: 1.2rem;
}

.projectsContainer > * {
  padding: 5rem 0;
  box-sizing: border-box;
}

@keyframes showX {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}

.gridWrapper h2 {
  padding: 2rem 0 3rem 0;
  color: rgb(20,20,20);
  color: var(--black);
}

.gridWrapper h3 {
  color: rgb(20,20,20);
  color: var(--black);
}

.appRepoButtons > li > a {
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  padding: 1.1rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: center;
}

.repoAnchor {
  border: 2px solid rgb(50, 120, 120);
  color: white;
  background-color: rgb(50, 120, 120);
  background-color: var(--green);
}

.appAnchor {
  border: 2px solid rgb(225, 113, 0);
  color: white;
  background-color: #e17100;
  background-color: var(--orange);
}

.appAnchor:hover {
  background-color: transparent;
  color: #e17100;
  color: var(--orange);
}

.repoAnchor:hover {
  background-color: transparent;
  color: rgb(50, 120, 120);
  color: var(--green);
}

.appRepoButtons > li {
  margin-right: 1rem;
}

.appRepoButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  line-height: 2rem;
}

.technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.technologies > li {
  color: rgba(0, 0, 0, 0.5);
  padding: 0 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  line-height: 1.5rem;
}

.technologies > li:first-child {
  padding-left: 0;
}

.technologies > li:last-child {
  border-right: none;
}

.technologies > li:last-child {
  padding-right: 0;
}

.drumMachineImgPng {
  background-image: url("../../images/drumMachine1.png");
}

.markdownPreviewerPng {
  background-image: url("../../images/markdownPreviewer1.png");
}

.quoteMachineImgPng {
  background-image: url("../../images/quoteMachine1.png");
}

.portfolioImgPng {
  background-image: url("../../images/personalPortfolio.png");
}

.imageGif {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*Mobile Phones*/
@media only screen and (max-width: 767px) {
  .projects article .image {
    margin-right: 0;
    width: 12rem;
    height: 6rem;
  }

  .gridWrapper h2 {
    font-size: 1.6rem;
    padding-bottom: 0;
  }

  .projectInfo h3 {
    font-size: 1.2rem;
  }

  .projectInfo > * {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .projectInfo > p {
    text-align: center;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
  }

  .projects article {
    flex-direction: column;
    align-items: center;
  }

  .projects article .projectInfo {
    align-items: center;
  }

  .technologies > li {
    padding: 0 0.7rem;
  }

  .appRepoButtons > li > a {
    padding: 0.9rem 0.7rem;
  }

  .projects article .image {
    margin-bottom: 0.5rem;
  }

  .technologies {
    justify-content: center;
  }
}

/*Tablets Portrait and Landscape*/
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .gridWrapper h3 {
    align-self: center;
  }

  .appRepoButtons {
    align-self: center;
  }

  .projects article .image {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .projects article .image {
    align-self: center;
  }

  .projectInfo > p {
    text-align: center;
  }

  .projects article .projectInfo {
    align-items: center;
  }

  .projects article {
    flex-direction: column;
    align-items: center;
  }
}
