.skills {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 3rem 0;
}

.skills * {
  color:black;
}

.skills h2 {
  font-size: 2rem;
  padding: 2rem 0;
}

.skills h3 {
  font-size: 1.5rem;
}

.skills .skillLists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}

.skills .skillLists .skillList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 1rem 0rem 1rem;
  flex: 1 1 0;
}

.skills .skillLists .skillList .logoList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.skills .skillLists .skillList .logoList div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.7rem;
}

.skills .skillLists .skillList .logoList figure {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.skills .skillLists .skillList .logoList figure :hover {
  filter: grayscale(1);
}

.skills .skillLists .skillList .logoList img {
  height: 100%;
  width: 100%;
  filter: grayscale(0);
  transition: filter 1s;
}
