.wrapper {
  background-color: #2e3141;
}

.wrapper.spotlight {
  background-color: #4c5c96;
}

.wrapper.spotlight.style2 {
  background-color: #45558d;
}

.wrapper .inner {
  padding: 2em 0;
  margin: 0 auto;
  width: 55em;
}

.wrapper.spotlight .inner {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.wrapper.spotlight .image {
  border-radius: 100%;
  margin: 0 3em 2em 0;
  width: 22em;
  overflow: hidden;
}

.wrapper.spotlight .image img {
  border-radius: 100%;
  width: 100%;
}

.wrapper.spotlight .content {
  width: 100%;
}

.wrapper.spotlight:nth-child(2n - 1) .inner {
  flex-direction: row-reverse;
  text-align: right;
}

.wrapper.spotlight:nth-child(2n - 1) .image {
  margin: 0 0 2em 3em;
}

/* Features */

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
}

.features article {
  padding: 1.75em 1.75em 0.1em 1.75em;
  background-color: #353849;
  border-radius: 5px;
  margin: 1.5em 3em 1.5em 0;
}

.features article .image {
  border-radius: 5px 5px 0 0;
  display: block;
  margin-bottom: 1.75em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  position: relative;
  width: calc(100% + 3.5em);
}

.features article .image img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
